@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap');

$negro: #282828;
$blanco: #fcfcfc;
$fuente: 'Roboto Mono', monospace;


.container__p{
    @extend .m-3;
    font-family: $fuente;
}

.latestBooks{
    @extend .container-fluid;
    @extend .row;

    .bookCard{
        height: 300px;
        @extend .m-4;
        .bookCard__img{
            @extend .img-fluid;
            @extend .rounded;
        }
    }
}

.authorCard{
    @extend .row;
    @extend .m-3;

    .authorCard__title{
        @extend .col-lg-12;
        font-family: $fuente;
    }

    .authorCard__img{
        @extend .mx-2;
        @extend .img-fluid;
        @extend .rounded;
    }

    .authorCard__p{
        font-family: $fuente;
    }
}


