@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap');

$gris: #DADCE0;
$fuente: 'Roboto Mono', monospace;

@media(max-width: 425px){
    .coolTitle{
        display: none;
    }
}

.features{
    background-color: $gris;
    min-height: 4rem;
}

.contact__p{
    font-family: $fuente;
    text-decoration: underline;
    cursor: pointer;
}

//Upcoming Events
@media(max-width: 425px){
    .author__img{
        display: none;
    }
}

@media(min-width: 768px){
    .author__img{
        width: 250px;
        height: 300px;
    }
}
