@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap');

$negro: #282828;
$blanco: #fcfcfc;
$gris: #DADCE0;
$rojo: #d62828;
$amarillo: #F2A71A;
$verde: #198754;
$fuente: 'Roboto Mono', monospace;

.cart__heading{
    @extend .my-3;
    font-family: $fuente;
    text-decoration: underline;
}

.botonProcess{
    @extend .btn;
    @extend .btn-outline-success;
    font-family: $fuente;
}

.botonProcess:hover{
    color: $blanco !important;
    background-color: $verde;
}

.cartItem__img{
    min-height: 200px;
    min-width: 140px;
    max-height: 200px;
    max-width: 140px;
}

.total{
    text-decoration: underline;
}
