@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap');

$negro: #282828;
$blanco: #fcfcfc;
$gris: #DADCE0;
$fuente: 'Roboto Mono', monospace;

.bookCard{
    @extend .my-3;
    @extend .col-lg-4;
    @extend .col-sm-12;
    @extend .px-3;
    @extend .d-flex;

    .bookCard__divImg{
        height: 200px;
        width: 140px;

        .bookCard__divImg__img{
            min-height: 200px;
            min-width: 140px;
            max-height: 200px;
            max-width: 140px;
        }
    }

    .bookCard__bookDetails{
        font-family: $fuente;

        .bookCard__button{
            @extend .btn;
            @extend .btn-outline-info;
            @extend .btn-sm;
        }
    }
}





