@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap');

$negro: #282828;
$blanco: #fcfcfc;
$gris: #DADCE0;
$rojo: #d62828;
$fuente: 'Roboto Mono', monospace;

.loadingDiv{
    height: 10rem;

    .loadingDiv__text{
        font-family: $fuente;
        font-size: 3rem;
    }

}