@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap');

$negro: #282828;
$blanco: #fcfcfc;
$gris: #DADCE0;
$rojo: #d62828;
$amarillo: #F2A71A;
$fuente: 'Roboto Mono', monospace;

.problemDB{
    font-family: $fuente;
    font-size: 1.2rem;
}

.fuente{
    font-family: $fuente;
}

@media(max-width: 425px){
    .author__img{
        display: none;
    }
}

@media(min-width: 768px){
    .author__img{
        width: 250px;
        height: 300px;
    }
}



